*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;

}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
  font-weight: bold;
  margin-top: 20px;

}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #2F8E18
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.noidung{
  margin-top: 23px;
  width: 100%;
  height: 1100px;
  
}
.noidung .container{
  height: 1100px;
  display: flex;
  justify-content: space-between;
}
.noidung .content{
  width: 761px;
  height: 1100px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.noidung .content > div {
  
  width: 346px;
  height: 539px;
  margin-bottom: 23px;
}
.noidung .sidebar{
  width: 282px;
  height: 1100px;
  background-color: #20d
}

img{
  width: 346px;
  height: 350px;
}

.noidung .content a{
 color: #4f4f4f;
  text-decoration: none;
  font-size: 26px;
}
.noidung .content a:hover{
  color: #2F8E18;
}
.noidung .content h3{
  font-size: 14px;
  text-align: right;
}