
.mySlides {
  width: 1100px;
  height: 500px;
}
.mySlides .slide{
  width: 950px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.mySlides .blog1{
    width: 285px;
    height: 450px;
    margin-top: 50px;
    display: inline-block;
}
.mySlides .blog1 img{
    width: 285px;
    height: 322px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mySlides  .blog1 a{
    text-decoration: none;
    color: #000;
}
.mySlides  .blog1 h3{
    text-align: center;
    font-size: 20px;
    margin-top: 20px

}
/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  z-index: 1
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #2F8E18;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #2F8E18;
  color: #fff
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}